*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: Roboto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(110,190,199,255);
}
.logo {
    flex: 1;
}
.nav{
    flex: 2;
    
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav li {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
}
li {
    text-decoration: none;
}